<!DOCTYPE html>
<html>
  <head>
    <title>>Welcome to LoveBirdz Dating Application!</title>
  </head>
  <body>
    <h2>Welcome to LoveBirdz Dating Application</h2>
    <p>Hi there,</p>
    <p>
      Welcome to our platform! An admin has created an account for you. Below
      are your login details:
    </p>
    <ul>
      <li><strong>Email:</strong> <%= user.email %></li>
      <li><strong>Password:</strong> <%= user.password %></li>
    </ul>
    <p>
      You can now use these credentials to log in to your account. If you have
      any questions or need assistance, please don't hesitate to contact our
      support team .
    </p>
    <p>Thank you for joining LoveBirdz!</p>

    <!-- Footer -->
    <table style="background-color: #343a40; width: 100%; text-align: center">
      <tr>
        <td style="padding: 10px">
          <p style="color: #fff">© 2024 LoveBirdz. All rights reserved.</p>
        </td>
      </tr>
    </table>
  </body>
</html>
